<!-- <h1>Coupon Form</h1>
<form action="/coupons" method="post">
  <input type="text" name="coupon_code">
  <input type="text" name="store">
  <input type="submit" name="Submit Coupon">
</form> -->

<%= form_tag coupons_path do %>
  <label>
    Coupon Form:
  </label>
  <br>
  <%= text_field_tag :'coupon[coupon_code]' %>
  <br>
  <%= text_field_tag :'coupon[store]' %>
  <br>
  <%= submit_tag 'Submit Coupon' %>
<% end %>
