<h1>Coupon Form</h1>
<form action="/coupons" method="POST">
  Coupon Code: <input type="text" name="coupon[coupon_code]"><br>
  Store: <input type="text" name="coupon[store]"><br>
  <input type="submit" value="Submit Coupon">
</form>